[phases.setup]
nixPkgs = ["nodejs_22"]

[phases.install]
# ADICIONADO: 'rm -rf node_modules' para limpar cache antigo
# ADICIONADO: '--force' para ignorar o erro de versão do Node e instalar o binário Linux na marra
cmds = ["rm -rf node_modules package-lock.json && npm install --force"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm run preview -- --port 3000 --host"